.input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}
.input-label {
  font-size: 1.05rem;
  color: #2b333f;
}

textarea {
  height: 150px;
  column-span: 2;
  resize: none;
}

.form-input:invalid {
  border-color: #d71e0e;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  width: 100%;
}

@media (max-width: 800px) {
  .form-group {
    grid-template-columns: repeat(1, 1fr);
  }
}

