header {
  position: relative;
}
header ul {
  display: flex;
}

.socials {
  background-color: #131a25;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials li {
  margin-right: 10px;
}
.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials a:hover {
  transform: scale(1.1);
}
.socials svg {
  border-radius: 100%;
  font-size: 30px;
  padding: 7px;
  color: #fff;
}

.socials span {
  color: #fff;
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.logo {
  font-size: 2em;
  font-family: "Cedarville Cursive", "cursive";
  font-style: italic;
}

.navbar-link {
  margin-left: 20px;
  text-transform: capitalize;
}

.menu-btn {
  display: none;
  cursor: pointer;
  font-size: 1.75rem;
}

.fa-facebook {
  background-color: #3b5998;
}
.fa-whatsapp {
  background-color: #31af36;
}
.fa-linkedin {
  background-color: #0077b5;
}
.fa-twitter {
  background-color: #1da1f2;
}

@media only screen and (max-width: 921px) {
  .socials {
    padding: 10px 2rem;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

