.hero {
  background: url("/src/assets/images/hero.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 120vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
}

.tagline {
  color: #f9e351;
  font-size: 2em;
  font-family: var(--cursive);
  font-style: italic;
  font-weight: 400;
}

.title {
  font-size: 4em;
}

.hero label {
  color: #dbdfe6;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}

.reservation-checker {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 2px;
  align-items: flex-end;
  text-align: left;
}
.reservation-checker .form-input {
  width: 200px;
  padding: 1.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: #121212;
  border-radius: 0;
}

.reservation-checker > button {
  border: none;
  margin: 1px;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
}

@media (max-width: 921px) {
  .reservation-checker {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 3em;
  }
}

